<div class="app-container">
  <header class="app-header">
    <div class="header-content">
      <div class="header-left">
        <h2>📦 Product Catalog</h2>
      </div>
      
      <nav class="header-nav">
        <a routerLink="/products">Products</a>
        <a routerLink="/products/new">Add product</a>
      </nav>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <div class="footer-content">
      <h3><strong>Product catalog</strong> Project using HttpResource Angular 19.2.13</h3>
      <div class="footer-features">
        <span>✅ Using HttpResource to retrieve data</span>
        <span>✅ HttpResource to manage isLoading, Error</span>
        <span>✅ Angular Signals to manage state</span>
        <span>✅ Project entirely Standalone</span>
        <span>✅ Reactive Forms with validation</span>.
      </div>
    </div>
  </footer>
</div>